{{!-- for user's dashboard --}}

<div class="row">
  <div class="col-auto">
    <h2> Welcome, {{username}}!</h2>
    
  </div>
</div>
{{!-- form for creating a new blog --}}
<div class ="row mt-4">
  <div clas="col-md-6">
  <h3>Create a new Blog </h3>
  
  <form class ="form new-blog-form">
    <div class="form-group">
        <input class ="form-input" type="text" id="blog-title" name="blog-title">
    </div>

    <div class="form-group">
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </form>
    </div>


{{!-- if there is a blog, each blog will be on the page with title and delte button to delete the blog --}}
{{#if blogs.length}}
<div class="col-md-6 blog-list">
<h3>Current Blogs:</h3>

{{#each blogs as |blog|}}

<div class="row mb-2">
  <div class="col-md-8">

<h3><a href="/blog/{{blog.id}}">{{blog.title}}</h3>


</div>

<div class="col-md-4">
<button class="btn btn-danger" data-id="{{blog.id}}">DELETE</button>
</div>
</div>

{{/each}}


</div>

 {{/if}}
</div>

<script src="/js/dashboard.js"></script>


