{{!-- homepage will have all the blogs with title, username and description --}}
{{#each blogs as |blog|}}
<div class="row">
  <div class="col-md-5">
    <h2 class="homePageBlogs">
    <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
         
  </div>
  <div class="col-md-7">
    <p>
     created by {{blog.user.username}}
    </p>
  </div>

  <div class="blogDesc">
    {{blog.description}}
  </div>
</div>
{{/each}}

